.THIS .myComponentContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
 
}
.THIS .myComponentLabel {
    width: 100px;
    margin-right: 10px;
    font-weight: bold;

}

.THIS .myComponentValue {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
         
}
.THIS .boxLabelCustom {
    border: 2px solid #cecece;
    background: #e9e9e9;
    border-radius: 20px;
    padding: 5px;
}